// === Colors === //
$autumn-orange: #f5874f;
$light-orange: lighten($autumn-orange, 35%);
$mint-green: #9dd3af; 

// === Sizes === //
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

